.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 725px) {
  .form {
    width: 282px;
    min-height: 322px;
  }
}
