.form__save-button {
  width: 358px;
  height: 50px;
  margin: 48px 0 0 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: rgba(0 0 0 / 1);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.form__save-button:hover {
  background-color: rgba(0 0 0 / .8);
}

@media screen and (max-width: 725px) {
  .form__save-button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
}
