.profile__user-status {
  max-width: 294px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 725px) {
  .profile__user-status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    min-width: 100%;
  }
}
