.profile {
  min-width: calc(100% - (200px + 200px));
  margin: 0;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 976px) {
  .profile {
    min-width: calc(100% - (48px + 48px));
  }
}

@media screen and (max-width: 725px) {
  .profile {
    padding-bottom: 36px;
    min-width: calc(100% - (19px + 19px));
  }
}
