.profile__add-button {
  min-width: 140px;
  height: 50px;
  margin: 35px 0 0 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  background-image: url(../../../images/add-button.svg);
  background-color: transparent;
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.profile__add-button:hover {
  border-color: rgba(255, 255, 255, .6);
  background-image: url(../../../images/add-buttonhover.svg);
}

@media screen and (max-width: 725px) {
  .profile__add-button {
    min-width: 282px;
    background-size: 16px 16px;
  }
}
