.cards-form {
  width: 358px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 725px) {
  .cards-form {
    width: 282px;
  }
}
