.profile__edit-button {
  margin: 0 0 0 18px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-image: url(../../../images/edit-button.svg);
  background-color: transparent;
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 976px) {
  .profile__edit-button {
    grid-area: edit;
    margin-left: 10px;
  }
}

@media screen and (max-width: 725px) {
  .profile__edit-button {
    grid-area: heading;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
