.cards-form__field-item {
  width: 100%;
  height: 27px;
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  height: 26px;
  align-self: flex-start;
}

.cards-form__field-item:first-of-type {
  margin-bottom: 30px;
}
