.profile__avatar {
  grid-area: avatar;
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

@media screen and (max-width: 976px) {
  .profile__avatar {
    justify-self: center;
    margin-bottom: 26px;
  }
}
