.profile__info {
  display: grid;
  grid-template-columns: 17.05% 33.41% 4.77% 44.77%;
  gap: 0;
  grid-template-areas:
  "avatar heading edit add";
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  align-content: center;
}

@media screen and (max-width: 976px) {
  .profile__info {
    grid-template-columns: 23.12% 50.34% 5.82% 20.72%;
  }
}

@media screen and (max-width: 725px) {
  .profile__info {
    grid-template-columns: 254px 28px;
    grid-template-rows: 51.05% 18.88% 30.07%;
    gap: 0;
    grid-template-areas:
    "avatar avatar"
    "heading edit"
    "add add";
    justify-content: space-between;
  }
}
