.footer {
  width: calc(100% - (200px + 200px));
  min-width: 880px;
  height: 18px;
  margin: 0;
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 976px) {
  .footer {
    width: calc(100% - (48px + 48px));
    min-width: 636px;
  }
}

@media screen and (max-width: 725px) {
  .footer {
    min-width: calc(100% - (19px + 19px));
    padding-bottom: 36px;
  }
}
