.form__user-editor {
  margin: 34px auto 37px;
  max-width: 358px;
  width: 100%;
}

@media screen and (max-width: 725px) {
  .form__user-editor {
    max-width: 238px;
    width: 100%;
    margin: 25px auto;
  }
}
