.form__user-editor {
  max-width: 358px;
  width: 100%;
  margin: 34px auto 37px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 725px) {
  .form__user-editor {
    width: 282px;
  }
}
